@import 'variables';
.jumbotron{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  color:$text-color;
  background-image: url('img/illustration-main.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size:700px;
  height:400px;
  h1{
    font-size: 2.5rem;
    margin-top:50px;
  }
  .btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:30px;
    button{
      color:#fff;
      background-color:$button-color;
      padding:5px;
      font-size:0.8rem;
    }
    p{
      width:auto;
      padding-left:20px;
      padding-right:20px;}
  }
  p{
    margin-top:20px;
  }


  }
.bkg-style-groupCards{
  background-color: $cards-color;
  color: $text-color;
  .groupCards{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: $cards-color;
    h2{
      font-size:2rem;
      margin-top:50px;
      text-align: center;
    }
    h2:last-child{
      margin-bottom:50px;
    }
    img{
      width:200px;
      height:200px;
      margin-top:50px;
      margin-bottom:50px;
    }
    hr{
      background-color: $text-color;
      width:100%
    }
    .cards{
      display: flex;
      justify-content:space-around;
      width:100%;
      margin-top:50px;
      .card{
        display: flex;
        flex-direction: column;
        align-items:center;
        img{
          width:150px;
          height:150px;
        }
      }
    }
  }

}
.bkg-style-result{
  color: $text-color;
  .results{
    display:flex;
    margin-top:80px;
    margin-bottom:50px;
    img{
      width:50%;
      height:400px;
    }
    .result{
      display:flex;
      flex-direction: column;

      img{
        height:250px;
        width:350px;
        margin-top:20px;
      }
      h2{
        font-size:2rem;
      }
      p{
        margin-top:50px;
      }
      a{
        text-decoration: none;
        margin-top:20px;
      }
    }
  }
  .left{
    width:70%;
    margin-right:30%;
  }
  .right{
    width:70%;
    margin-left:30%;
  }
}
.bkg-style-signUp{
  background-color: $cards-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  h1{
    font-size:3rem;
    margin-top:50px;
  }
  .signUp{
    border:1px solid $text-color;
    margin-top: 70px;
    background-color:#fff;
    p{
      margin:15px;
    }
    .author{
      display: flex;
      align-items: center;
      img{
        width:50px;
        height:50px;
        margin:10px;
      }
    }
  }
  .btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:30px;
    button{
      color:#fff;
      background-color:$button-color;
      padding:5px;
      font-size:0.8rem;
      margin:15px;
    }
  }
}
